{% load static inlinecss %}
{% inlinecss "email/css/ackform.css" %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pulse</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>
<body>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: 'Poppins', sans-serif;
    }
    </style>
    <div class="container">
        <table align="center" height="233" width="414" cellpadding="0" cellspacing="0">
            <tr>
                <td class="header" height="233" align="center" style="text-align: center; background-color: #62b5a7;">

                    <center>
                        <table width="414" style="width: 414px; min-width: 414px; max-width: 414px;" cellpadding="0"
                            cellspacing="0" border="0" align="center">
                            <tr>
                                <td align="center" width="100%" style="text-align: center;">
                                    <h1 class="middle-title" style="text-align: center;">Hi
                                        {{ first_name }} {{ last_name }}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" width="100%" style="text-align: center;">
                                    <p class="middle-content" style="text-align: center;">Your comment has 
                                        been acknowledged on 
                                        <strong>{{ project_name }}</strong></p>
                                </td>
                            </tr>
                        </table>
                        
                    </center>

                </td>

            </tr>
        </table>
        <img class="star" src="cid:{{image_name_star}}" height="70" />
        <p>
            <strong>4 people</strong>
            <br/>
            acknowledged your comments on <br/>theLiberty Mine Construction Project.
        </p>
        <p>
            <strong>Pulse Question:</strong>
            <br />
            "Is there a problem that people aren't discussing openly?"
        </p>
        <p>
            <strong>Your Comment:</strong>
            <br />
            "I think we can do better."
        </p>
        <p>
            <strong>Acknowledged by:</strong>
            <br />
            <strong>Joe Boggs:</strong> "Let's talk about it."
        </p>
        <p>
            Pulse has not revealed<br/>
            that you wrote the comments.
        </p>
        <img class="logo" src="cid:{{image_name_logo}}" height="90" />
    </div>
</body>
</html>
{% endinlinecss %}