{% load static inlinecss %}
{% inlinecss "email/css/email.css" %}
<html>
<body>
    <style type="text/css">@import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: 'Poppins', 'Arial';
    }
    </style>
    
    <div class="logo">
        <img src="cid:{{image_name_logo}}" alt="" />
    </div>
    <div class="container">
        <div class="container__header">
            <img class="container__header--bg" src="cid:{{image_name_container}}" alt="" />
        </div>
        <div class="container__body">
            <div class="container__body__content">
                <h2 class="sub-title">You have been nominated as a stakeholder on the {{ project_name }} project.</h2>
                <p class="sub-title-description">
                    We want to create the kind of project where everyone can freely share their thoughts, feelings and ideas. We want to this project to succeed, and to do that, we welcome your honest feedback!​
                </p>
                <a href="http://3.15.16.117:3001/set-password?project={{project_name}}?email={{email}}?token={{token}}" class="btn-try">Try it out</a>
                <p class="link-description">
                    The link will take you to Pulse by ProjectAI – an online tool we use to map out the landscape of team members and stakeholders.
                </p>
                <h2 class="sub-title people">People are the pulse of your project.</h2>
                <img src="cid:{{image_name_connect}}" class="img-connect" alt="" />
                <p class="people-description">Pulse gathers and measures <span class="emphasize">project sentiment, engagement and confidence</span> to help us make better decisions and build a culture of clarity for everyone involved. Please use this tool to tell us what you think.  There are no wrong answers, and you can change your responses at any time!​</p>
                <a href="http://3.15.16.117:3001/set-password?project={{project_name}}?email={{email}}?token={{token}}" class="btn-click">Click here to get started</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endinlinecss %}
