{% load static inlinecss %}
{% inlinecss "email/css/email.css" %}
<html>
<body>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: 'Poppins', 'Arial';
    }
    </style>
    
    
    <div class="container">
        <!-- <img src="cid:{{image_name_container}}" style="position: fixed;z-index: -1;right: 0;bottom: 0;" /> -->
        <h1>Hi {{ first_name }} {{ last_name }}!</h1>
        <h2 class="sub-title">You have been nominated as a stakeholder on the {{ project_name }} project.</h2>
        <div><img class="img-connect" src="cid:{{image_name_connect}}" /></div>
        <p class="sub-title-description">We want to create the kind of project where <strong>everyone</strong> can freely share their thoughts feelings and ideas. We want this project to succeed, and to do that, we need your honest input.</p>
        <p class="sub-title-description">As a <strong>valued</strong> stakeholder, we want  to understand <strong>your</strong> current views of the project - so let's get started.</p>
        <div>
            <a href="{{site_url}}/set-password?project={{project_name}}&email={{email}}&token={{token}}" class="btn-click">Click here to get started</a>
        </div>
        <div>
            <img class="logo" src="cid:{{image_name_logo}}" alt=""/>
        </div>
    </div>
    
</body>
</html>
{% endinlinecss %}
