body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Poppins;
    background-color: #FFFFFF;
}

.container {
    width: 414px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.header {
    width: 100%;
    height: 233px;
    color: #FFFFFF;
    margin-bottom: 20px;
    background-image: url('https://pulse.projectai.com/static/email/img/email-3-top.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header img {
    width: 100%;
    height: 233px;
}

.header h1 {
    text-align: center;
    width: 414px;
    font-size: 30px;
    line-height: 21px;
    padding-top: 130px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.middle-title {
    text-align: center;
    width: 414px;
    font-size: 30px;
    line-height: 21px;
    padding-top: 130px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.middle-content {
    width: 414px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}

.header p {
    width: 414px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}

.description {
    font-size: 13px;
    line-height: 22px;
    margin-top: 30px;
}

.description1 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
}

.green {
    color: #38929E;
}

.middle-img {
    width: 260px;
}

.action-button {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background: #62B6A8;
    font-size: 18px;
    width: 80%;
    border-radius: 14px;
    border: none;
    outline: none;
    color: #FFFFFF;
    /* height: 61px; */
    margin-top: 28px;
    margin-bottom: 31px;
}

.logo {
    margin-bottom: 30px;
}